<div id='landing' class='grid-y grid-frame align-center'>
    <div class='grid-x align-center'>
        <%= image_tag 'main-logo.png' %>
    </div>
    <div class='grid-x align-center'>
        <%= link_to home_path, class:'ui right button  small labeled icon inverted', data:{turbolinks: false} do %>
            Take me to the store
            <i class='right arrow icon'></i>
        <% end %>
    </div>
</div>