<div id='landing' class='grid-y grid-frame align-center'>
    <div class='grid-x align-center'>
        <div class='cell medium-3 small-7 animated pulse infinite'>
            <%= link_to home_path, data:{turbolinks: false} do %>
                <%= image_tag 'yonker-logo.png', id:'logo' %>
            <% end %>
        </div>
    </div>
</div>
