<div id="banner" class="show-for-medium grid-y align-center grid-frame">
    <div class="cell grid-x align-center align-self-middle">
      <h1 id="medium" class="type-it raleway"></h1>
    </div>
</div>
<div id="small-banner" class="show-for-small-only grid-y align-center grid-frame">
      <div class="cell grid-x align-center align-self-middle">
        <h1 id="small" class="type-it mon"></h1>
      </div>
</div>
<div id='about-us' class='about-us show-for-medium grid-container grid-x align-center'>
  <div class='cell medium-8'>
    <p class='text-center raleway'>
      Manifested from culture formed on the streets – from the confidence of hip hop to the grit of punk, YONKERS is the epitome of high-end streetwear. Not taking things too seriously, enjoying the ride, giving zero fucks about what other people think, whilst maintaining a level of integrity, is the irreverent and independent minded individual we hope to reach out to.
    </p>
    <p class='text-center raleway'>
    Derived from the word Jonkheer, a term of nobility, which literally translates to young lord or young lady. Also a suburb in the bronx of New York city, YONKERS is a direct reflection of its name, creating a juxtaposition between ideas of youth and playfulness alongside sophistication, culture and forward thinking.
    </p>
  </div>
</div>

<div id='about-us' data-interchange="[https://yonkers.com.au/wp-content/uploads/2018/11/new-img.jpg, small]" class=' about-us show-for-small-only grid-container grid-x align-center'>
  <div class='cell medium-8 small-10'>
    <p class='text-center raleway'>
      Manifested from culture formed on the streets – from the confidence of hip hop to the grit of punk, YONKERS is the epitome of high-end streetwear. Not taking things too seriously, enjoying the ride, giving zero fucks about what other people think, whilst maintaining a level of integrity, is the irreverent and independent minded individual we hope to reach out to.
    </p>
    <p class='text-center raleway'>
    Derived from the word Jonkheer, a term of nobility, which literally translates to young lord or young lady. Also a suburb in the bronx of New York city, YONKERS is a direct reflection of its name, creating a juxtaposition between ideas of youth and playfulness alongside sophistication, culture and forward thinking.
    </p>
  </div>
</div>

<div class='grid-container grid-x'>
  <h2 id='best-seller-header' class="raleway cell shrink">"BEST-SELLER"</h2>
</div>

<%= render partial: 'spree/shared/products', locals: { products: @best_sellers, taxon: @taxon } unless @best_sellers.empty? %>
<% if @best_sellers.empty? %>
<div class='grid-y align-center grid-frame'>
  <h4 class='raleway text-center no-product-found'  id='no-product-found'><%= t('spree.no_products_found') %></h4>
</div>
<% end %>
