.mon{
    font-family: 'Montserrat', sans-serif;
}   
.nunito{
    font-family: 'Nunito', sans-serif;
}
.raleway{
    font-family: 'Raleway', sans-serif;
}
#header{
    z-index: 1 !important;
    box-shadow: 5px 2px 14px grey;
    h3{
        margin-top: .2rem;
        margin-bottom: .6rem;
        color:white;
    }
    div.sticky{
        background: #6d3580;
    }
    #logo-bars{
        margin-right: 12px;
    }
    #cart-button{
        color:white;
        background-color: transparent;//#5c3b6f;
        margin-left: 8px;
    }
    li{
        list-style: none;
    }
    #nav-menu{
        
        background: #6d3580;
        li{
            a{
                color:white;
            }
            a#menu-bars::after{
                color:white !important;
            }
        }
    }
}
.js-off-canvas-overlay{
    background-color:rgba($color: #ecf0f1, $alpha: 0.4);
}
.off-canvas{
    background-color: #35234b;
}
#medium-nav-menu{
    margin-top:30px;
    a{
        color:white;
    }
}
.cart-button{
    color:white;
}