#banner{
    background-image: url('./uploads/banner.jpg');
    background-position: center center;
    background-size: auto 100%;
    p,h1,h2,h3{
        color:white;
    }
}
#small-banner{
    background-color: #eeeeee;
}
#best-seller-header{
    margin-top: 0.7em;
    border-style: solid;
    border-bottom-color: #34699a;
    border-bottom-width: 1.6px;
    border-top:none;
    border-right:none;
    border-left: none;
    margin-left: 0.7em;
}
#about-us{
    padding-top:2.5rem;
    margin-bottom: 2rem;
    background-color:#35234b;
    color:#ecf0f1;
    padding-bottom: 2rem;
}
#about-us.show-for-small-only{
}

.type-it{
    font-size: 4.3rem;
}
