<div data-sticky-container>
  <footer id="footer" class="grid-x sticky" data-hook  data-sticky data-stick-to="bottom" data-sticky-on="small" data-check-every="0">
    <div class='cell medium-3 small-offset-1 medium-offset-2'>
      <h4 class='raleway shrink'><%= t('spree.powered_by') %> YONKERs <%= link_to 'https://instagram.com/yonkersau', data:{turbolink: false} do %>
      <%= fa_icon 'instagram', id:'instagram-link'%>
    <% end %></h4>
    </div>
  </footer>
</div>
